.delete-pop {
  .ivu-poptip-body {
    position: relative;
    .ivu-icon {
      position: absolute;
      left: 16px;
    }
  }
  .ivu-poptip-footer {
    padding-bottom: 12px;
  }
}
.opt-item {
  color: #2d8cf0;
  cursor: pointer;
}